body {
    background-color: darkmagenta;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:black
}

.navbar-dark.bg-dark {
    background-color: darkmagenta !important;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.navbar-nav .nav-item:hover .nav-link {
    color: lightblue !important; 
}

.jumbotron {
    background-color: teal !important;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.jumbotron h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.jumbotron p {
    font-size: 18px;
    color: black;
}

.btn-primary {
    background-color: green;
    border-color: black;
    padding: 10px 20px;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: lightgreen;
    border-color: black;
}


.feature_section {
    text-align: center;
    color: black;
    font-size: 18px;
}


.column {
    text-align: center;
    font-size: 16px;
    color: black;
}


#footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

#footer p a {
    color: lightblue;
}


#footer p a:hover {
    color: darkblue;
}

.contact .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contact button[type="submit"] {
    margin-top: 10px;
    background-color: green;
}

.contact button[type="submit"]:hover {
    background-color: lightgreen;
}

.custom-break {
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

#info {
    margin-bottom: 200px;
}

body ul {
    text-align: left;
    display: inline-block;
}

.service {
    text-align: center;
}

.service-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    height: auto;
}

 .dark-mode {
    background-color: black;
    color: white;
}
 .dark-mode .feature_section {
    background-color: black;
    color: white;
 }

 .dark-mode .feature_section {
    background-color: black;
    color: white;
 }

 .dark-mode .jumbotron {
    background-color: black;
    color: white;
 }

 .dark-mode .jumbotron h1 {
    color: white;
 }

 .dark-mode .jumbotron p {
    color: white;
 }
 .dark-mode .column {
    background-color: black;
    color: white;
}

.dark-mode .navbar {
    background-color: #333 !important;
}
.dark-mode .card {
    background-color: #222;
    color: white;
}
.dark-mode footer {
    background-color: #111;
    color: white;
}

#team {
    width: 100%;
    white-space: nowrap;
}

.bg-custom {
    background-color: rgba(0, 0, 0, 0.8) !important;
    transition: background-color 0.3s ease-in-out;
}

@media (max-width: 768px) {  

    .column ul {
        max-width: 100%; 
        text-align: center; 
    }

    body {
        font-size: 14px; 
    }

    h1, h2 {
        font-size: 18px; 
    }

    #history{
        margin-bottom: 90px;
    }

    #info {
        margin-bottom: 340px;
    }
}
